/* common */
html, body{
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: 600;
    font-size:16px;
    line-height: 1.75rem;
    letter-spacing: .03rem;
    width:100%;
}
h1,h2{
    font-weight: 600;
    letter-spacing: .1rem;
    font-size:1.4rem;
    text-align: center;
}
span.full_bd{
    border-bottom: 2px solid #151515;
}
h3,h4{
    font-size:1.2rem;
    font-weight: bold;
}
small{
    font-size: small;
}
ul, p, span, small, strong, li, h1, h2, h3, h4, img, input, a{
    margin: 0;
    padding: 0;
    list-style: none;
}
strong{
    background:linear-gradient(transparent 70%, hsl(16, 100%, 86%) 0%) ;
    padding: 0 4px;
    /* background-color: #f075ae; */
    /* color: #F15A24; */
}
section{
    border-top:3px solid black;
    padding-bottom:32px;
    padding-top:32px;
    max-width: 1400px;
    margin:0 auto;
}
video{
    width: 100%;
}
a{
    text-decoration: none;
    color: #151515;
}
a:hover{
    color: #151515;
}
.arrow{
    display: inline-block;
    transform:rotate(90deg);
    padding-right: .4em;
    font-size: .7em;
}
.triangle.gray{
    background:linear-gradient(to top left, #fff 50%, #f1f1f1 50%) no-repeat top left/100% 100%;
}
.triangle.baju{
    background:linear-gradient(to top left, #fff 50%, #f7f3ed 50%) no-repeat top left/100% 100%;
}
.triangle.pink{
    /* #ffeae5
    #fbdbd0 */
    background:linear-gradient(to top left, #fff 50%, #fff0f7 50%) no-repeat top left/100% 100%;
}
.center{
    text-align: center;
}

.btn{
    background-color: white;
    padding: 12px 24px;
    text-align: center;
    border: 2px solid #151515;
    min-width: 220px;
    border-radius: 0;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 16px;
    position: relative;
    cursor: pointer;
}
.btn::before{
    content: "";
    width: 16px;
    height: 16px;
    background:linear-gradient(to top left, #fff 50%, #151515 50%) no-repeat top left/100% 100%;
    position: absolute;
    top:0;
    left: 0;
}
.bold{
    font-weight: bold;
}
.bk-black{
    background-color: #151515;
    color: white;
}
.bk-gray{
    background-color: #f5f5f5;
    padding: 8px;
}
.bk-pink{
    background-color: #fff0f7;
}
.bk-pink_v{
    background-color: #f075ae;
    padding: 8px 0;
    color: white;
}
.main_cap{
    position: relative;
    margin-bottom: 32px;
}
.main_cap small{
    font-size:0.8rem;
    margin-bottom: 6px;
    display: inline-block;
}
.main_cap::after{
    content:"";
    position: absolute;
    width:60px;
    height: 3px;
    background-color: #151515;
    bottom: -8px;
    left: calc(50% - 30px);
}
.ul_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #151515;
    background-color: white;
}
.tbl{
    padding:16px;
    margin-bottom: 16px;
    
}
.container{
    max-width: 100%;
}

@media screen and (min-width:767px) and ( max-width:992px) {
    html, body{
        /* font-size:14px; */
    }
    h1,h2{
        /* font-size: 16px; */
    }
    h3,h4{
        /* font-size: 15px; */
    }
    small{
        /* font-size: 10px; */
    }
}
@media screen and (min-width:993px) {
    html, body{
        /* font-size:16px; */
        width: 100%;
    }
    h1,h2{
        /* font-size: 1.5rem; */
    }
    h3,h4{
        /* font-size: 1.3rem; */
    }
    small{
        font-size: 11px;
    }
    .smpMenu{
        display: none;
        visibility: hidden;
    }
    section{
        padding-bottom:40px;
        padding-top:40px;
        margin: 0 auto;
    }
    .container{
        max-width: 1200px;
    }
}


/* header */
.smpMenu{
    position: fixed;
    width: 100%;
    height: 0;
    top: 0px;
    left:0;
    right: -100%;
    -webkit-transition: height .3s;
    transition: height .3s;
    z-index: 999;
}
.smpMenu.open{
    height: calc(100% - 60px);
}
.smpMenu .menuwrap ul{
    padding: 16px;
    text-align: center;
}
.smpMenu .menuwrap li{
    padding: 8px 0;
    color: #c69c6d;
    font-size: 1.2em;
    border-bottom: 2px solid #151515;
    font-weight: bold;
}
.smpMenu .menuwrap li:nth-child(1){
    border-top: 2px solid #151515;
}
.menuwrap{
    background-color: rgba(255,255,255,0.95);
    width: 100%;
    overflow-y: scroll;
}
.smpfixed{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0 0 8px #c69c6d;
}
.smpfixed ul{
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 10px;
}
.smpfixed ul li small{
    font-size: 0.5rem;
}
.smpfixed ul li{
    text-align: center;
    font-size: .8rem;
    width: calc(100% / 3);
}
.smpfixed ul li:nth-child(2){
    border-left: 1px solid;
    border-right: 1px solid;
}
.smpfixed ul li.menu{
    position: relative;
    padding-top: 10px;
}
.smpfixed li.menu span{
    position: absolute;
    width: 30px;
    height: 2px;
    left: calc(50% - 15px);
    border-radius: 2px;
    background-color: #333;
    -webkit-transition: all .5s;
    transition: all .5s;
    transform: rotate(0deg);
}
.smpfixed li.menu.open span{
    width: 20px;
    left: calc(50% - 10px);
}
.smpfixed li.menu span:nth-child(1){
    top: 6px;
}
.smpfixed li.menu span:nth-child(2){
    top: 10px;
}
.smpfixed li.menu.open span:nth-child(1){
    top: 6px;
    transform: rotate(45deg);
}
.smpfixed li.menu.open span:nth-child(2){
    top: 6px;
    transform: rotate(-45deg);
}
@media screen and (min-width:993px) {
    header .humberger{
        display: none;
        visibility: hidden;
    }
    .smpMenu{
        width: 100%;
        height: auto;
        right: 0;
        top: 0;
        bottom: unset;
        visibility: visible;
        box-shadow: 0 0 4px #c69c6d;
        background-color: rgba(255,255,255,.9);
    }
    .smpMenu .menuwrap{
        width: 100%;
        padding: 0;
        overflow-y: unset;
        max-width: 1200px;
        margin: 0 auto;
        background-color: unset;
    }
    .smpMenu .menuwrap ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 8px 0;
    }
    .smpMenu .menuwrap ul li{
        height: 100%;
        padding: 0 16px;
        border: none;
        font-size: .8rem;
        line-height: 1.3rem;
        border-left: 1px solid #333;
        cursor: pointer;
        -webkit-transition: all .3s;
        transition: all .3s;
        color: #333;
    }
    .smpMenu .menuwrap ul li:hover{
        color: #c69c6d;
    }
    .smpMenu .menuwrap li:nth-child(1){
        border-top:none;
        border-left: none;
    }
    .smpMenu .menuwrap ul li small{
        display: inline-block;
        line-height: 11px;
    }
}

/* TOP image */
#top-image{
    width: 100%;
    /* height: 90vh; */
    border-top: none;
    background-color: #fbdbd0;
}
#top-image > div{
    max-width: 1000px;
    margin: 0 auto;
}
#top-image .sub{
    font-size: 12px;
}
#top-image .relative,
#top-image.relative{
    position: relative;
    width: 100%;
    height: 100%;
}
#top-image .noabu{
    position: unset !important;
}
#top-image .img-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
#top-image .img-wrap img{
    max-width: 70%;
    max-height: 90%;
    margin: 0 auto;
    margin-bottom: 26vw;
    outline: 10px solid rgba(255,255,255,.7);
}
#top-image .wrap1{
    width: 80vw;
    max-width: 400px;
}
#top-image .wrap1 h1{
    width: 100%;
}
#top-image .wrap1 p{
    left: 16px;
    top: -1rem;
    line-height: 1.4;
    position: absolute;
}
#top-image .wrap1 small{
    top: 1.3rem;
    left: 16px;
    position: absolute;
}
#top-image .wrap2{
    top: 5vw;
    right: 0;
    width: 20vw;
    color: #E4007F;
    line-height: 1.3rem;
    position: absolute;
}
#top-image .wrap2 span{
    font-size: 2rem;
}
#top-image .wrap3{
    line-height: 1rem;
    z-index: 1;
    margin-left: 16px;
}
#top-image .wrap3 h2{
    text-align: left;
    font-size: 2rem;
    line-height: 1.5rem;
    margin-top: -10px;
}
#top-image .wrap3 li{
    margin-top: 8px;
    display: flex;
    align-items: center;
}
#top-image .wrap3 li:nth-child(1):before{
    content: "1";
}
#top-image .wrap3 li:nth-child(2):before{
    content: "2";
}
#top-image .wrap3 li:nth-child(3):before{
    content: "3";
}
#top-image .wrap3 li:before{
    background-color: #E4007F;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    color: #fbdbd0;
    font-weight: bold;
    margin-right: 8px;
    padding-top: 4px;
    padding-left: 3px;
    font-size: 1.3rem;
}
#top-image .wrap4{
    z-index: 1;
    margin-left: 16px;
}
#top-image .wrap4 span{
    color: white;
    text-shadow: 0 0 10px rgb(228 0 127 / 30%);
    font-size: 4rem;
}
#top-image .wrap4 p span:nth-child(1){
    font-size: 1.7rem;
    line-height: 4.5rem;
}
#top-image .wrap4 small{
    line-height: 1rem;
    margin-top: .7rem;
    display: inline-block;
}
#top-image .wrap5{
    position: absolute;
    top: 30vw;
    right: 2.5rem;
    font-family: serif;
    letter-spacing: .8px;
    z-index: 1;
}
#top-image .wrap5 p{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
#top-image .wrap6{
    margin-top: 16px;
    text-align: center;
    width: 100%;
    z-index: 1;
}
#top-image .wrap6 ul{
    justify-content: center;
    font-size: small;
    padding: 0 8px;
    max-width: 650px;
    margin: 0 auto;
}
#top-image .wrap6 ul li{
    line-height: 1.1rem;
    letter-spacing: 0;
    font-size: 12px;
}
#top-image .wrap7{
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}
#top-image .wrap7 p{
    padding: 0.1rem 0.6rem;
    background-color: white;
    border-radius: 1rem;
    font-size: 12px;
}
@media (min-width:500px) {
    #top-image .img-wrap img{
        margin-bottom: unset;
    }
    #top-image .wrap5{
        right: 10vw;
        top: 25vw;
    }
}
@media (min-width:767px) {
    #top-image .sub {
        font-size: small;
    }
    #top-image .img-wrap img{
        height: 80%;
        width: auto;
    }
    #top-image .wrap1{
        margin-left: calc(50% - 400px);
        margin-top: 24px;
    }
    #top-image .wrap1 p{
        left: 5vw;
    }
    #top-image .wrap2{
        top: 1vw;
        right: calc(50% - 22vw + 16px);
        width: unset;
    }
    #top-image .wrap3,
    #top-image .wrap4{
        margin-left: 10vw;
    }
    #top-image .wrap5{
        right: 15vw;
        top: 15vw;
        font-size: 1.3rem;
    }
    #top-image .wrap6 ul li,
    #top-image .wrap7 p{
        font-size: 1rem;
        line-height: 1.7rem;
    }
}
@media (min-width:993px) {
    #top-image{
        padding-top: 70px;
    }
    #top-image .wrap2{
        right: calc(50% - 22%);
    }
    #top-image .wrap3,
    #top-image .wrap4{
        margin-left: 20%;
        margin-top: 16px;
    }
    #top-image .wrap5{
        right: 20%;
        top: 15%;
    }
}

/* 特典 */
#tokuten{
    border-top:none;
}
#tokuten h2{
    padding-bottom:24px;
    text-align: center;
    letter-spacing: .1em;;
}
#tokuten h4,
#campain h3 .tag{
    position: relative;
    text-align: center;
    margin-bottom: 8px;
    font-size: 16px;
    display: block;
    font-weight: bold;
}
#tokuten h4::before,
#tokuten h4::after,
#campain h3 .tag::before,
#campain h3 .tag::after{
    content: "|";
    display: inline-block;
    position: absolute;
}
#tokuten h4::before,
#campain h3 .tag::before{
    transform: rotate(-30deg);
    left:calc(50% - 4rem);
}
#tokuten h4::after,
#campain h3 .tag::after{
    transform: rotate(30deg);
    right: calc(50% - 4rem);
}
#tokuten div.d-flex,
#campain div.d-flex{
    margin-top: 16px;
    margin-bottom: 16px;
}
#tokuten .container > *,
#campain .container .d-flex > *{
    font-weight: bold;
    line-height: 1em;
}
#tokuten h3,
#campain img{
    width: 40%;
}
#tokuten .inner,
#campain .inner{
    width:60%;
    margin-left: 16px;
}
#tokuten p,
#campain .container .d-flex p{
    font-size: 6.2vw;
    display: inline-block;
    margin-top: 8px;
    margin-left: 8px;
}
#tokuten .semaku,
#campain .semaku{
    letter-spacing: -3px;
}
#tokuten .accent,
#campain .accent{
    color: #d94008;
    font-size: 3.7vw;
    writing-mode: horizontal-tb;
    width: 1em;
    line-height: 1.2em;
}
.cheerup{
    margin-top: 24px;
    margin-bottom: 16px;
    text-align: center;
}
.cheerup span{
    border-bottom: 2px solid;
}
.bdd{
    border-bottom:6px double #151515;
}
@media screen and (min-width:767px) and ( max-width:992px) {
    #tokuten p{
        font-size: 3vw;
    }
    #tokuten .accent,
    #campain .accent{
        font-size: 16px;
    }
    #campain .container .d-flex p{
        font-size: 4vw;
        margin-top: 0;
    }
    #campain h2::before{
        left:8vw;
    }
    #campain h2::after{
        right: 8vw;
    }
}
@media screen and (min-width:993px) {
    #tokuten p,
    #campain .container .d-flex p{
        font-size: 32px;
    }
    #tokuten .accent{
        font-size: 16px;
    }
    #campain h2::before{
        left:8vw;
    }
    #campain h2::after{
        right: 8vw;
    }
    #campain .container .d-flex p{
        margin-top: 0;
        font-size: 40px;
        margin-left: 16px;
    }
    #campain .accent{
        font-size: 24px;
    }
}

/* 福岡の女性のみなさまへ */
.sml_caption{
    font-family: 'Montserrat', sans-serif;
    padding: 4px 24px;
    font-size: 12px;
    font-weight: 400;
    border:1px solid #151515;
    background-color: white;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
    min-width: 150px;
    display: inline-block;
    line-height: 1em;
}
.sml_caption::before{
    content:"";
    position: absolute;
    background-image: url(../res/arrow-black2.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 10px;
    top: 19px;
    left:calc(50% - 6px);
    margin-left: -6px;
}
#dear h2{
    margin: 24px 0 32px;
    text-align: center;
}
#dear h2 span::before,
#dear h2 span::after{
    content: '|';
    position: absolute;
    font-weight: normal;
}
#dear h2 span::before{
    left:0px;
    transform: rotate(-30deg);
}
#dear h2 span::after{
    right: 0px;
    transform: rotate(30deg);
}
#dear h2 span{
    padding: 0 24px;
    position: relative;
    font-size: 1.3em;
}
#dear li{
    margin-top: 8px;
}
#dear li img{
    margin-right: 8px;
}
#dear p{
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-radius: 8px 8px 0 0;
}
#dear .office-imgs{
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
#dear .ul_box{
    border-top:unset;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-radius: 0 0 8px 8px;
}
/* Chat lady */
h2.en_title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0em;
    font-size: 1.5em;
}
#chatlady h3 img{
    width:100%;
    height: auto;
    border:2px solid #151515;

}
.chatlady_desc_wrap{
    position: relative;
}
.chatlady_desc_wrap .blackline{
    position: absolute;
    top: 0;
    bottom: -32px;
    width: 0;
    background-color: #f075ae;
    display: none;
}
.chatlady_desc_wrap div{
    padding-left: 0px;
    /* padding-top: 24px; */
    position: relative;
}
.each{
    margin-top: 24px;
}
.chatlady_desc_wrap div span{
    position: absolute;
    left: 0;
    font-size: 1rem;
    letter-spacing: -1px;
    color: #333;
    font-weight: 600;
}
.chatlady_desc_wrap div h4{
    border-bottom:2px solid #f075ae;
    margin-bottom: 2rem;
    color:#333;
    font-weight: 600;
    margin-left: 0;
    letter-spacing: -0.5px;
}
.chatlady_desc_wrap .arrowwrap strong{
    display: block;
    background: none;
    color:#f075ae;
    width: 100%;
    font-size: 1.3rem;
}
.chatlady_desc_wrap .arrowwrap div{
    position: absolute;
    top: calc(2rem + 20px);
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 0 0 50% 50%;
    background-color: #f075ae;
}
.chatlady_desc_wrap .arrowwrap .arrow{
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: #fff;
    color: transparent;
    top: calc(50% - 5px);
    margin-left: 8px;
    transform: rotate(45deg);
}
.chatlady_desc_wrap .arrowwrap div.open .arrow{
    transform: rotate(135deg);
    left: 2px;
}
.chatlady_desc_wrap p{
    display: none;
    margin-bottom: 24px;
    padding: 8px;
    background-color: #fff0f7;
    border-radius: 4px;
}

#chatlady .office-imgs img{
    width: 100%;
    padding: 8px 0;
}
.office-imgs img{
    width: 100%;
}
.roomcap{
    width: 100%;
    margin-top: 48px;
}
.roomcap p{
    width: 100%;
    padding: 3rem 0 1.5rem;
    font-size: 1.35rem;
    position: relative;
    border-radius: 8px;
    background-size: auto auto;
    background-color: #F3E2F2;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 16px, #F7EDF7 16px, #F7EDF7 32px );
}
.roomcap p::before{
    content:"かわいく/";
    position: absolute;
    top: .62rem;
    left:calc(50% - 8.2rem);
    font-size: 1rem;
}
@media screen and (min-width:576px){
    .chatlady_desc_wrap div h4 strong{
        display: inline-block;
        margin-right: 16px;
    }
}
@media screen and (min-width:767px){
    #chatlady .office-imgs img{
        width: 50%;
    }
    #chatlady .office-imgs img:nth-child(1){
        padding-right: 8px;
    }
    #chatlady .office-imgs img:nth-child(2){
        padding-left: 8px;
    }
    .chatlady_desc_wrap .chatdesc{
        display: block;
        border-radius: 0 0 4px 4px;
    }
    .chatlady_desc_wrap div h4{
        margin-bottom: 0;
    }
}
@media screen and (min-width:993px) {
    .chatlady_desc_wrap .blackline{
        width: 60px;
        bottom: -40px;
        max-height: unset;
        background: none;
    }
    .chatlady_desc_wrap div{
        padding-left: 4rem;
        /* margin-left: 4rem; */
    }
    .chatlady_desc_wrap div .arrowwrap{
        padding-left: 0;
    }
    .chatlady_desc_wrap div h4{
        color: #f075ae;
        border-bottom: unset;
        
    }
    .chatlady_desc_wrap div span{
        left: 6px;
        top: 0;
        font-size: 1.7rem;
        /* border-top: 2px solid white; */
        color: #f075ae;
    }
    .chatlady_desc_wrap div span:nth-child(1){
        border-top: none;
    }
    .chatlady_desc_wrap .chatdesc{
        background: none;
    }
}

/* workstyle */
.custome_dott{
    position: relative;
    height: 1px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}
.custome_dott::before{
    content:'';
    background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 5px);
    background-size: 5px 1px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#workstyle h3{
    display: inline-block;
    margin: 16px 0;
    border-bottom:2px solid #151515;
    padding: 8px 0 0;
    /* font-size: 16px; */
}
#workstyle h4{
    /* font-size: 14px; */
    font-weight: bold;
    margin-bottom: 8px;
    
}
#workstyle .custome_dott_wrap{
    border-top:1px dotted #333;
    border-bottom:1px dotted #333;
    margin-top: 24px;
    margin-bottom: 24px;
}
#workstyle .custome_dott_wrap .dottedbox{
    position: relative;
    padding-top: 24px;
    padding-bottom: 16px;
}
#workstyle .cap{
    margin-top: 16px;
    text-align: left;
    font-size: .9rem;
}
#workstyle .custome_dott_wrap .dottedbox:nth-child(1) .cap{
    padding-left: 24vw;
}
#workstyle .custome_dott_wrap .dottedbox:nth-child(2) .cap{
    padding-left: 23vw;
}
#workstyle .custome_dott_wrap .dottedbox:nth-child(3) .cap{
    padding-left: 24vw;
    padding-right: 0px;
}
#workstyle .custome_dott_wrap .dottedbox img{
    position: absolute;
    bottom: 0;
}
#workstyle .custome_dott_wrap .dottedbox:nth-child(1) img{
    left: 0;
    width: 22vw;
}
#workstyle .custome_dott_wrap .dottedbox:nth-child(2) img{
    left: -12px;
    width: 28vw;
}
#workstyle .custome_dott_wrap .dottedbox:nth-child(3) img{
    left: -8vw;
    width: 34vw;
}

#workstyle .custome_dott_wrap .dottedbox:nth-child(2){
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
}
#workstyle img.eyecatch{
    width: 100%;
}
#workstyle .info div{
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    margin: 16px 0;
    border: 2px solid;
    align-items: center;
}
#workstyle .info h3{
    font-size: 1.3rem;
    text-align: center;
    padding: 0 0 8px 0;
    width: 100%;
    margin-top: 0;
}
#workstyle .info p strong{
    font-size: 1.8rem;
    text-align: center;
    display: block;
    margin: 8px 0;
}
@media (min-width: 576px) {
    #workstyle .custome_dott_wrap .cap{
        width: 50vw;
        max-width: 370px;
        margin: 0 auto;
    }
    #workstyle .custome_dott_wrap .dottedbox:nth-child(1) .cap{
        padding-left: 8vw;
    }
    #workstyle .custome_dott_wrap .dottedbox:nth-child(2) .cap{
        padding-left: 8vw;
    }
    #workstyle .custome_dott_wrap .dottedbox:nth-child(3) .cap{
        padding-left: 8vw;
        padding-right: 0px;
    }
}
@media screen and (min-width:767px){
    #workstyle .custome_dott_wrap .dottedbox:nth-child(1) img{
        width: 180px;
    }
    #workstyle .custome_dott_wrap .dottedbox:nth-child(2) img{
        left: 0px;
        width: 250px;
    }
    #workstyle .custome_dott_wrap .dottedbox:nth-child(3) img{
        right: 0;
        width: 280px;
    }
    
}
@media screen and (min-width:993px) {
    #workstyle .custome_dott_wrap .dottedbox{
        padding-bottom: 50px;
    }
    #workstyle .custome_dott_wrap .cap{
        margin-top: 34px;
        width: 30vw;
        max-width: 360px;
    }
    #workstyle .custome_dott_wrap .dottedbox:nth-child(1) .cap{
        padding-left: 8.5vw;
    }
    #workstyle .custome_dott_wrap .dottedbox:nth-child(2) .cap{
        padding-left:9vw;
    }
    #workstyle .custome_dott_wrap .dottedbox:nth-child(3) .cap{
        padding-right: 80px;
        padding-left: 8px;
    }
    #workstyle .custome_dott_wrap .dottedbox img{
        /* max-height: 130px; */
    }
    #workstyle .custome_dott_wrap .dottedbox:nth-child(1) img{
        left: 0;
        width: 110px;
    }
    #workstyle .custome_dott_wrap .dottedbox:nth-child(2) img{
        left: 0px;
        width: 162px;
    }
    #workstyle .custome_dott_wrap .dottedbox:nth-child(3) img{
        right: 0;
        left: unset;
        width: 200px;
    }
    #workstyle .custome_dott_wrap .dottedbox:nth-child(2){
        border-left: 1px dotted #333;
        border-right: 1px dotted #333;
    }
    .mt-16{
        margin-top: 16px;
        padding-top: 8px;
    }
    #workstyle .info{
        position: relative;
    }
    #workstyle .info div{
        position: absolute;
        top: 16px;
        left: 32px;
        padding: 16px;
        background-color: rgba(255,255,255,.7);
        box-shadow: 0 0 8px #c69c6d;
        border: none;
    }
}

/* INCOME */
#income .bk-black{
    margin-top: 32px;
}
#income li{
    margin-top: 8px;
    font-size: 1.1em;
}

/* Benefit */
.bene-img-wrap{
    position: relative;
    /* background-color: #f7f3ed; */
    background-color: #fbdbd0;
    width: 100%;
    height: 130px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.bene-img-wrap::after{
    content:"";
    position: absolute;
    /* background:linear-gradient(to top left, transparent 50%, #f7f3ed 50%) no-repeat top left/100% 100%; */
    background:linear-gradient(to top left, transparent 50%, #fbdbd0 50%) no-repeat top left/100% 100%;
    width: 100%;
    height: 30px;
    bottom: -30px;
}
.bene-img-wrap .arrow{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: #f7f3ed; */
    background-color: #fbdbd0;
    bottom: -40px;
    right: 8px;
    box-shadow: 0 0 8px #bbb;
    padding: 0;
    text-align: center;
    transform: rotate(0deg);
    z-index: 1;
}
.bene-img-wrap .arrow span{
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: #333;
    display: inline-block;
    margin-top: 19px;
    color: transparent;
    transform: rotate(45deg);
}
.bene-img-wrap .arrow.open span{
    transform: rotate(135deg);
}
.bene-img-wrap img{
    position: absolute;
    width:100px;
    height: auto;
    top: -50px;
    left: 0;
    margin-left: 0;
    z-index: 1;
}
.bene-img-wrap h3{
    position: absolute;
    left: calc(50% - 58px);
    top: 50%;
    margin-left: 0;
    margin-top: -8px;
    line-height: 24px;
    text-align: center;
    font-size: 1.3em;
}
.bene-img-wrap h3::before,
.bene-img-wrap h3::after{
    
    position: absolute;
    top: -4px;
    width: 24px;
    height: 8px;
}
.bene-img-wrap h3::before{
    content:"\201c";
    left: -20px;
}
.bene-img-wrap h3::after{
    content:"\201d";
    right:-20px;
}
.bene-img-wrap .stars{
    position: absolute;
    left: 50%;
    width:24px;
    height: 8px;
    margin-top: -12px;
    margin-left: -16px;
    background-image: url(../res/stars.svg);
    background-repeat: no-repeat;
    display: block;
}
#benefit .msg{
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
}
#benefit .msg.open{
    max-height: 450px;
}
@media screen and (min-width:767px) {
    .bene-img-wrap img{
        left: calc(50% - 230px);
    }
    #benefit .msg{
        max-height: unset;
    }
}
@media screen and (min-width:993px) {
    .msg{
        margin-top: 74px;
    }
    .bene-img-wrap h3{
        /* font-size: 20px; */
        line-height: 1.7;
        letter-spacing: 1.6px;
        top: 44%;
    }
    .bene-img-wrap .stars{
        width: 36px;
        height: 16px;
        background-size: contain;
        margin-top: -20px;
        margin-left: -18px;
    }
    .bene-img-wrap img{
        left: 0;
    }
}

/* OFFICE */
#office .icon-wrap{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
    font-size: 1em;
}
#office .icon-wrap span{
    display: block;
    padding: 8px 0 0;
}
#office .icon-wrap img{
    margin-bottom: 8px;
}
#office .custome_dott_wrap .col-md-6{
    margin-top: 16px;
    padding-top: 16px;
}
#office .custome_dott_wrap .col-md-6::before{
    content:'';
    background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 5px);
    background-size: 5px 1px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#office .office-imgs{
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 24px;
    margin-bottom: -16px;
}
@media screen and (min-width:767px){
    #office .custome_dott_wrap{
        margin-top: 16px;
        margin-bottom: -32px;
    }
    #office .custome_dott_wrap .col-md-6{
        margin-top: 0;
        padding-top:24px;
        padding-bottom: 24px;
    }
    #office .custome_dott_wrap .col-md-6:nth-child(even)::after{
        content:'';
        background-image: linear-gradient(to bottom, #000, #000 1px, transparent 1px, transparent 5px);
        background-size: 1px 5px;
        background-repeat: repeat-y;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
@media screen and (min-width:993px) {
    #office .custome_dott_wrap{
        margin-top: 32px;
        margin-bottom: -40px;
    }
    #office .office-imgs{
        margin-bottom: -32px;
    }
}

/* Q&A */
#qa .answer{
    padding: 0;
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#qa .answer p{
    padding: 32px 32px;
    border-bottom: 1px solid #333;
}
#qa .question span,
#qa .answer span{
    color:#f075ae;
}
#qa .answer.open{
    max-height: 300px;
    opacity: 1;
}
#qa .nm{
    /* margin-bottom: 0 !important; */
}

#qa .question{
    position: relative;
    line-height: 32px;
    padding: 8px 40px 8px 16px;
    border-bottom: 1px solid #333;
    font-size: 1rem;
}
#qa .qa_btn{
    position: absolute;
    right: 16px;
    width: 48px;
    height: 48px;
    top: 0px;
    color: #f075ae;
    cursor: pointer;
}
#qa .qa_btn::before{
    content: "";
    position: absolute;
    width:10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -6px;
    transform: rotate(45deg);
    transition: all .3s;
}
#qa .qa_btn.open::before{
    transform: rotate(135deg);
}
@media screen and (min-width:767px) and ( max-width:992px) {
}
@media screen and (min-width:993px) {
}

/* FLOW */
#flow .numbers1{
    margin-left: 16px;
    /* margin-right: 16px; */
    margin-top: 8px;
}
#flow .numbers1 h3{
    display: inline-block;
    /* margin-top: 6px; */
    font-size: 1.3em;
}
#flow .numbers1 li{
    margin-top: 24px;
}
.numbers1 li {
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 32px;
    padding-left: 50px;
    line-height: 32px;
    margin-top: 24px;
}
.numbers1 li:nth-child(1) {
    background-image: url(../res/number1_01.svg);
}
.numbers1 li:nth-child(2) {
    background-image: url(../res/number1_02.svg);
}
.numbers1 li:nth-child(3) {
    background-image: url(../res/number1_03.svg);
}
.numbers1 li:nth-child(4) {
    background-image: url(../res/number1_04.svg);
}
.numbers1 li::before {
    content: "";
    width: 1px;
    height: 16px;
    background-color: #151515;
    position: absolute;
    top: 16px;
    left: 40px;
}
#flow .numbers1 p{
    line-height: 1.5em;
    font-weight: normal;
    /* padding-left: 16px; */
}
.cms-video img{
    width: 100%;
    position: relative;
}
#flow .cms-video .txt{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
    /* font-size: 24px; */
    font-weight: bold;

}
@media screen and (min-width:767px) and ( max-width:992px) {
}
@media screen and (min-width:993px) {
}

/* APPLY */
.form-wrap{
    border:2px solid #C7B299;
    margin-top: 24px;
}
form{
    margin: 2px;
    padding: 16px;
    border: 1px solid #C7B299;
}
form h3{
    margin-bottom: 24px;
    text-align: center;
    font-size:1.2em;
}
form p.require{
    color: #d94008;
    padding-left: 0px;
    font-size: 11px;
    line-height: 11px;
    font-weight: normal;
}
form label{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
    line-height: 1;
}
form small{
    color:#666;
    padding-left: 8px;
}
form input{
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    margin: 0;
    padding: 4px 8px;
    border: 0;
    border-bottom: 1px solid #151515;
    margin-bottom: 24px;
    margin-top: 8px;
    font-size: 16px;
    border-radius: 0;
    line-height: 1.35;
}
form input[type="radio"]{
    border-radius: 50%;
}
form input[name="age"]{
    width: 4rem;
}
form textarea{
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    border:1px solid #151515;
    border-radius: 0;
    text-align: left;
    padding: 4px 8px;
    font-size: 16px;
    line-height: 1.35;
    margin-top: 8px;
}
form input[name="name"],
form input[name="mail"],
form textarea{
    width:100%;
}
form .form-check{
    -ms-flex-align:flex-start;
    align-items:flex-start;
    margin-right: 1em;
}
form .form-check,
.form-check-label,
.form-check-input{
    cursor: pointer;
}
.formTitle, form label{
    display: inline-block;
}
form .formRow{
    margin-bottom: 24px;
}
#apply a{
    color: #151515;
}
#apply .another-apply .btn span{
    display: block;
    position: relative;
}
#apply .another-apply .btn span::before{
    content:'';
    background-repeat: no-repeat;
    position: absolute;
    width:32px;
    height: 32px;
    margin-left: -40px;
}
#apply .line::before{
    background-image: url(../res/icon-line.svg);
}
#apply .phone::before{
    background-image: url(../res/icon-phone.svg);
}
#apply .mail::before{
    background-image: url(../res/icon-mail.svg);
}
#apply .errormsg{
    display: none;
    font-size: 11px;
    color: white;
    padding: 8px;
    background-color: #d94008;
    margin-top: -16px;
    margin-bottom: 12px;
}
#form-body .row{
    position: relative;
}
@media screen and (min-width:767px){
    .another-apply .btn{
        max-width: 30%;
        margin: 16px 10px;
        margin-top: 32px;
    }
    #apply .another-apply .btn span{
        padding-left: 24px;
    }
    #apply .another-apply .btn span::before{
        margin-left: -32px;
    }
    #apply .mail::before{
        top:4px;
    }
}
@media screen and (min-width:993px) {
    #apply.contact{
        margin-top:60px; 
    }
}

#feed .blogcont{
    width: 100%;
    height: 100%;
    display: inline-block;
    border:1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 8px;
}
#feed .blogcont .d-flex img{
    width: 30%;
    max-width: 130px;
}
#feed .blogcont .d-flex div{
    width: calc(70% - 16px);
    margin-left: 16px;
}
#feed .blogcont .d-flex div time{
    font-size: small;
    color: #ddd;
}

/* footer */
footer{
    /* background-color: #151515; */
    width: 100%;
    padding: 16px !important;
    text-align: center;
    color: white;
    font-size: .9rem;
    padding-bottom: 68px;
}
footer h2{
    font-size: 1rem;
}
footer .logo{
    font-size: 32px;
    margin: 16px 0;
}
footer small{
    font-size: .7rem;
    font-weight: normal;
    margin: 16px 0;
    color: #fff0f7;
}
@media screen and (min-width:767px) and ( max-width:992px) {
}
@media screen and (min-width:993px) {
    footer{
        padding-bottom: 16px;
    }
}