/* common */
html, body{
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: 500;
    font-size:12px;
    line-height: 1.75em;
    letter-spacing: .03em;
    width:100%;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: .1em;
    font-size:16px;
    text-align: center;
}
h1 span.full_bd{
    border-bottom: 1px solid #151515;
}
h2{
    font-size:16px;
    font-weight: bold;
}
h3{
    font-size:14px;
    font-weight: bold;
}
small{
    font-size: 9px;
}
ul, p, span, small, strong, li, h1, h2, h3, h4, img, input, a{
    margin: 0;
    padding: 0;
    list-style: none;
}
section{
    border-top:0.5px solid black;
    padding-bottom:32px;
    padding-top:32px;
}
.arrow{
    display: inline-block;
    transform:rotate(90deg);
    padding-right: .4em;
    font-size: .7em;
}
.triangle.gray{
    background:linear-gradient(to top left, #fff 50%, #f5f5f5 50%) no-repeat top left/100% 100%;
}

.triangle.baju{
    background:linear-gradient(to top left, #fff 50%, #FAF8F5 50%) no-repeat top left/100% 100%;
}
.center{
    text-align: center;
}

.btn{
    background-color: white;
    padding: 12px 24px;
    text-align: center;
    border: 2px solid #151515;
    min-width: 220px;
    border-radius: 0;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 16px;
    position: relative;
    cursor: pointer;
}
.btn::before{
    content: "";
    width: 16px;
    height: 16px;
    background:linear-gradient(to top left, #fff 50%, #151515 50%) no-repeat top left/100% 100%;
    position: absolute;
    top:0;
    left: 0;
}
.bold{
    font-weight: bold;
}
.bk-black{
    background-color: #151515;
    color: white;
    padding: 4px;
}
.bk-gray{
    background-color: #f5f5f5;
    padding: 4px;
}
.main_cap{
    position: relative;
    margin-bottom: 32px;
}
.main_cap::after{
    content:"";
    position: absolute;
    width:32px;
    height: 2px;
    background-color: #151515;
    bottom: -8px;
    left: 50%;
    margin-left: -16px;
}
.tbl{
    border: 1px solid #151515;
    padding:16px;
    margin-bottom: 16px;
    background-color: white;
}
.container{
    max-width: 100%;
}

@media screen and (min-width:767px) and ( max-width:992px) {
    html, body{
        font-size:14px;
    }
    h1{
        font-size: 16px;
    }
    h2{
        font-size: 15px;
    }
    h3{
        font-size: 14px;
    }
    small{
        font-size: 10px;
    }
}
@media screen and (min-width:993px) {
    html, body{
        font-size:16px;
        width: 100%;
    }
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 17px;
    }
    h3{
        font-size: 16px;
    }
    small{
        font-size: 11px;
    }
    .smpMenu{
        display: none;
        visibility: hidden;
    }
    section{
        padding-bottom:40px;
        padding-top:40px;
        margin: 0 auto;
    }
    .container{
        max-width: 1200px;
    }
}


/* header */
header{
    /* position: relative; */
    /* height: 50px;
    width: 100%;
    text-align: center; */
}
/* header .text_logo{
    font-family:'Gill Sans', 'Gill Sans MT', 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 27px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
}
header .subdesc{
    font-size: 9px;
    position: absolute;
    left: 0;
    right: 0;
    top: -2px;
} */
.smpMenu{
    position: fixed;
    top: 0px;
    bottom:0;
    right: -85vw;
    transition: ease-in-out all .3s;
    z-index: 999;
}
.smpMenu .humberger{
    width:15vw;
    height:15vw;
    position: absolute;
    top: 0px;
    left:-15vw;
    text-align: center;
    transition: all .5s;
    cursor: pointer;
    /* z-index: 10; */
}
.smpMenu .humberger span{
    display: block;
    position: absolute;
    width:10vw;
    height:2px;
    left: 8px;
    border-radius: 2px;
    background-color: white;
    transition: ease all 1s;
}
.smpMenu .humberger span:nth-child(1){
    top: 18px;
    transform: rotate(0deg);
}
.smpMenu .humberger span:nth-child(2){
    top: 24px;
    transform: rotate(0deg);
}
.smpMenu.open{
    right: 0;
}
.smpMenu.open .humberger{
    background-color: rgba(255,255,255,0.95);
}
.smpMenu.open .humberger span{
    background-color: #151515;
}
.smpMenu.open .humberger span:nth-child(1){
    top: 22px;
    transform: rotate(45deg);
}
.smpMenu.open .humberger span:nth-child(2){
    top: 22px;
    transform: rotate(-45deg);
}
.smpMenu p{
    font-size: 1.3em;
    text-align: left;
    margin-top: 24px;
    padding: 16px;
    position: relative;
    font-weight: bold;
}
.smpMenu p::before{
    content:"×";
    position: absolute;
    top: 0;
}
.smpMenu ul{
    padding: 16px;
    text-align: center;
}
.smpMenu li{
    padding: 24px 0;
    color: #c69c6d;
    font-size: 1.5em;
    border-bottom: .5px solid #151515;
    font-weight: bold;
}
.smpMenu li:nth-child(1){
    border-top: .5px solid #151515;
}
.menuwrap{
    background-color: rgba(255,255,255,0.95);
    /* z-index: 100; */
    width: 85vw;
    overflow-y: scroll;
    padding-bottom: 32px;
}
@media screen and (min-width:767px) and ( max-width:992px) {
}
@media screen and (min-width:993px) {
    header .humberger,
    .smpMenu{
        display: none;
        visibility: hidden;
    }
}

/* TOP image */
#top-image{
    margin: 0;
    padding:0;
    border: none;
    position: relative;
    /* top: -50px; */
    width: 100%;
    overflow: hidden;
}
#top-image img.main{
    width: 100%;
    height: auto;
}
img.top-tab,
img.top-pc{
    display: none;
}
#top-image .logo{
    position: absolute;
    top: 8px;
    left: 8px;
}
#top-image .logo img{
    width: 70vw;
    margin-bottom: 8px;
}
#top-image .logo p{
    color: white;
    font-weight: bold;
    font-size: 4.5vw;
    padding: 2px 0;
}
#top-image .cap1{
    width: 33vw;
    height: 33vw;
    background-color: #151515;
    border-radius: 50%;
    position: absolute;
    top: 48vw;
    left: 8px;
    font-weight: bold;
    text-align: center;
}
#top-image .cap1 p:nth-child(1){
    color: #c69c6d;
    font-size: 4.5vw;
    padding-top: 5vw;
}
#top-image .cap1 p:nth-child(2){
    font-size: 6.5vw;
    line-height: 9vw;
    color: white;
    padding-top: 0;
}
#top-image .catch{
    position: absolute;
    top:71.5vw;
    left: 2vw;
    width: 98vw;
    transform: rotate(-15deg);
}
#top-image .cap2{
    position: absolute;
    right: 8px;
    bottom: 3px;
}
#top-image .cap2 span,
#top-image .cap3 span{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.1vw;
    line-height: 2vw;
    display: block;
}
#top-image .cap2 ul li{
    padding: 4px;
    background-color: #151515;
    color: #c69c6d;
    font-weight: bold;
    font-size: 3.4vw;
    line-height: 4.5vw;
    margin-top: 3px;
}
#top-image .cap3{
    position: absolute;
    left: 8px;
    bottom: 3px;
    width: 54vw;
}
#top-image .cap3 .holizontal_list li{
    font-weight: bold;
    font-size: 1vw;
    line-height: 1.3;
    
    letter-spacing: 0;
}
#top-image .cap3 .holizontal_list li::after{
    content:"/";
    padding: 0 2px;
}
#top-image .cap3 .holizontal_list li:last-child::after,
#top-image .cap3 .holizontal_list.mo li:last-child::after{
    content: "";
}
#top-image .cap3 .holizontal_list{
    margin-top: 4px;
}
#top-image .cap3 .holizontal_list.mo li{
    font-size: 3.3vw;
}
#top-image .cap3 .holizontal_list.mo li::after{
    content:"|";
    padding: 0 2px;
}

/*
.mainDesc{
    background-color: #FCF4E8;
    padding: 16px 0;
    text-align: center;
}
.mainDesc h2{
    font-weight:bold;
    padding: 16px;
    margin-bottom:8px;
    display: inline-block;
    position: relative;
}
.mainDesc h2 span{
    height: 2px;
    left:0;
    right:0;
    border-top: 1px solid #151515;

}
 .mainDesc h2 span.bdtop:nth-child(1){
    top:6px;
}
.mainDesc h2 span.bdtop:nth-child(2){
    top:10px;
}
.mainDesc h2 span.bdtop:nth-child(3){
    bottom:6px;
}
.mainDesc h2 span.bdtop:nth-child(4){
    bottom:10px;
} */
.numbers1{
    text-align: left;
}
.numbers1 li{
    font-size: 13px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 32px;
    padding-left: 50px;
    line-height: 32px;
    padding-top: 10px;
}
.numbers1 li::before{
    content: "";
    width:1px;
    height: 16px;
    background-color: #151515;
    position: absolute;
    top: 16px;
    left: 40px;
}
.numbers1 li:nth-child(1){
    background-image: url(../res/number1_01.svg);
}
.numbers1 li:nth-child(2){
    background-image: url(../res/number1_02.svg);
}
.numbers1 li:nth-child(3){
    background-image: url(../res/number1_03.svg);
}
.numbers1 li:nth-child(4){
    background-image: url(../res/number1_04.svg);
}
@media screen and (min-width:767px) and (max-width:992px){
    .numbers1 li{
        font-size: 15px;
        padding-left: 48px;
        padding-top: 10px;
        margin-top: 8px;
    }
    .numbers1 li::before{
        left: 38px;
    }
    img.top-tab{
        display: block;
    }
    img.top-smp,
    img.top-pc{
        display: none;
    }
}
@media screen and (min-width:993px) {
    #top-image{
        margin: 0 auto;
    }
    .numbers1 li{
        font-size: 17px;
        margin-top: 24px;
        background-size: 32px;
        padding-left: 48px;
    }
    .numbers1 li::before{
        top: 16px;
        left: 40px;
        padding-top: 8px;
    }
    .mainDesc{
        padding: 32px 0;
    }
    img.top-pc{ 
        display: block;
    }
    img.top-smp,
    img.top-tab{
        display: none;
    }
}


/* 特典 */
#tokuten{
    border-top:none;
}
#tokuten h1{
    padding-bottom:24px;
}
#tokuten h2,
#campain h2{
    position: relative;
    text-align: center;
    margin-bottom: 8px;
}
#tokuten h2::before,
#tokuten h2::after,
#campain h2::before,
#campain h2::after{
    content: "|";
    display: inline-block;
    position: absolute;
}
#tokuten h2::before,
#campain h2::before{
    transform: rotate(-30deg);
    left:24px;
}
#tokuten h2::after,
#campain h2::after{
    transform: rotate(30deg);
    right: 24px;
}
#tokuten div.d-flex,
#campain div.d-flex{
    margin-top: 16px;
    margin-bottom: 16px;
}
#tokuten .container > *,
#campain .container .d-flex > *{
    font-weight: bold;
    line-height: 1em;
}
#tokuten img,
#campain img{
    width: 39%;
}
#tokuten .inner,
#campain .inner{
    width:60%;
    margin-left: 16px;
}
#tokuten p,
#campain .container .d-flex p{
    font-size: 6.2vw;
    display: inline-block;
    margin-top: 8px;
    margin-left: 8px;
}
#tokuten .semaku,
#campain .semaku{
    letter-spacing: -3px;
}
#tokuten .accent,
#campain .accent{
    color: #F15A24;
    font-size: 3.7vw;
    writing-mode: horizontal-tb;
    width: 1em;
    line-height: 1.2em;
}
.bdd{
    border-bottom: double #151515;
}
@media screen and (min-width:767px) and ( max-width:992px) {
    #tokuten p{
        font-size: 3vw;
    }
    #tokuten .accent,
    #campain .accent{
        font-size: 16px;
    }
    #campain .container .d-flex p{
        font-size: 4vw;
        margin-top: 0;
    }
    #campain h2::before{
        left:8vw;
    }
    #campain h2::after{
        right: 8vw;
    }
}
@media screen and (min-width:993px) {
    #tokuten p,
    #campain .container .d-flex p{
        font-size: 32px;
    }
    #tokuten .accent{
        font-size: 16px;
    }
    #campain h2::before{
        left:8vw;
    }
    #campain h2::after{
        right: 8vw;
    }
    #campain .container .d-flex p{
        margin-top: 0;
        font-size: 40px;
        margin-left: 16px;
    }
    #campain .accent{
        font-size: 24px;
    }
}

/* 福岡の女性のみなさまへ */
.sml_caption{
    font-family: 'Montserrat', sans-serif;
    padding: 4px 24px;
    font-size: 9px;
    font-weight: 400;
    border:1px solid #151515;
    background-color: white;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
    min-width: 150px;
    display: inline-block;
    line-height: 1em;
}
.sml_caption::before{
    content:"";
    position: absolute;
    background-image: url(../res/arrow-black2.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 10px;
    top: 16px;
    left:50%;
    margin-left: -6px;
}
#dear h1{
    margin: 16px 0;
}
#dear h1 span{
    border-bottom: 1px solid #151515;
}
#dear li{
    margin-top: 8px;
}
#dear li img{
    margin-right: 8px;
}
@media screen and (min-width:767px) and ( max-width:992px) {
    .tbl{
        padding-left: 140px;
    }
}
@media screen and (min-width:993px) {
    .tbl{
        padding-left: 180px;
        padding-right: 10px;
    }
}

/* Chat lady */
#chatlady h2 img{
    width:100%;
    height: auto;
    border:2px solid #151515;

}
.chatlady_desc_wrap{
    position: relative;
}
.chatlady_desc_wrap .blackline{
    position: absolute;
    top: 0;
    bottom: -32px;
    width: 32px;
    background-color: #151515;
}
.chatlady_desc_wrap div{
    padding-left: 48px;
    padding-top: 24px;
    position: relative;
}
.chatlady_desc_wrap div span{
    position: absolute;
    left: .25em;
    font-size: 1em;
    color: white;
    font-weight: 600;
}
.chatlady_desc_wrap div h3{
    font-size: 16px;
    display: inline-block;
    border-bottom:1px solid #151515;
    margin-bottom: 16px;
}
@media screen and (min-width:767px) and ( max-width:992px) {
}
@media screen and (min-width:993px) {
    .chatlady_desc_wrap .blackline{
        width: 48px;
        bottom: -40px;
    }
    .chatlady_desc_wrap div{
        padding-left: 80px;
    }
    .chatlady_desc_wrap div span{
        left: 10px;
    }
    .chatlady_desc_wrap div h3{
        font-size: 18px;
    }
}

/* workstyle */
#workstyle .dottedbox{
}
.custome_dott{
    position: relative;
    height: 1px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}
.custome_dott::before{
    content:'';
    background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 5px);
    background-size: 5px 1px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#workstyle h2{
    display: inline-block;
    margin: 16px 0;
    border-bottom:1px solid #151515;
}
#workstyle h3{
    padding: 8px 0;
}
#workstyle .custome_dott_wrap .dottedbox{
    margin-top: 16px;
    padding-top: 16px;
}
#workstyle .custome_dott_wrap .dottedbox::before{
    content:'';
    background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 5px);
    background-size: 5px 1px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@media screen and (min-width:767px){
    #workstyle .custome_dott_wrap{
        margin-top: 24px;
        margin-bottom: -32px;
    }
    #workstyle .custome_dott_wrap .dottedbox{
        margin-top: 0;
        padding-top:24px;
        padding-bottom: 24px;
    }
}
@media screen and (min-width:993px) {
    #workstyle .custome_dott_wrap .dottedbox:nth-child(2)::after,
    #workstyle .custome_dott_wrap .dottedbox:nth-child(3)::after{
        content:'';
        background-image: linear-gradient(to bottom, #000, #000 1px, transparent 1px, transparent 5px);
        background-size: 1px 5px;
        background-repeat: repeat-y;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .mt-16{
        margin-top: 16px;
        padding-top: 8px;
    }
    .custome_dott{
        padding-top: 16px;
    }
}

/* Benefit */
.bene-img-wrap{
    position: relative;
    background-color: #FAF8F5;
    width: 100%;
    height: 130px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.bene-img-wrap::after{
    content:"";
    position: absolute;
    background:linear-gradient(to top left, transparent 50%, #FAF8F5 50%) no-repeat top left/100% 100%;
    width: 100%;
    height: 30px;
    bottom: -30px;
}
.bene-img-wrap img{
    position: absolute;
    width:100px;
    height: auto;
    top: -50px;
    left: 50%;
    margin-left: -125px;
    z-index: 1;
}
.bene-img-wrap h2{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8px;
    line-height: 24px;
    text-align: center;
}
.bene-img-wrap h2{
    margin-top: -8px;
}
.bene-img-wrap h2::before{
    content:"";
    position: absolute;
    left: 50%;
    width:24px;
    height: 8px;
    margin-top: -16px;
    margin-left: -16px;
    background-image: url(../res/stars.svg);
    background-repeat: no-repeat;
}
@media screen and (min-width:767px) and ( max-width:992px) {
}
@media screen and (min-width:993px) {
    .msg{
        margin-top: 74px;
    }
}

/* INCOME */
#income .bk-black{
    margin-top: 32px;
}
#income li{
    margin-top: 8px;
    font-size: 1.1em;
}
@media screen and (min-width:767px) and ( max-width:992px) {
}
@media screen and (min-width:993px) {
}

/* OFFICE */
#office .icon-wrap{
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
}
#office .icon-wrap img{
    margin-bottom: 8px;
}
#office .custome_dott_wrap .col-md-6{
    margin-top: 16px;
    padding-top: 16px;
}
#office .custome_dott_wrap .col-md-6::before{
    content:'';
    background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 5px);
    background-size: 5px 1px;
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@media screen and (min-width:767px){
    #office .custome_dott_wrap{
        margin-top: 24px;
        margin-bottom: -32px;
    }
    #office .custome_dott_wrap .col-md-6{
        margin-top: 0;
        padding-top:24px;
        padding-bottom: 24px;
    }
    #office .custome_dott_wrap .col-md-6:nth-child(even)::after{
        content:'';
        background-image: linear-gradient(to bottom, #000, #000 1px, transparent 1px, transparent 5px);
        background-size: 1px 5px;
        background-repeat: repeat-y;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
@media screen and (min-width:993px) {
    #office .custome_dott_wrap{
        margin-top: 32px;
        margin-bottom: -40px;
    }
}

/* Q&A */
#qa .bk-gray{
    padding: 0;
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#qa .bk-gray p{
    padding: 32px 32px;
}
#qa .bk-gray.open{
    max-height: 200px;
    opacity: 1;
}
#qa .bk-gray.nm{
    margin-bottom: 0;
}
#qa .bk-black{
    position: relative;
    line-height: 32px;
    padding-left: 16px;
}
#qa .qa_btn{
    position: absolute;
    right: 20px;
    width: 32px;
    height: 32px;
    top: 4px;
    color: white;
    cursor: pointer;
}
#qa .qa_btn::before{
    content: "";
    position: absolute;
    width:10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -6px;
    transform: rotate(45deg);
    transition: all .3s;
}
#qa .qa_btn.open::before{
    transform: rotate(135deg);
}
@media screen and (min-width:767px) and ( max-width:992px) {
}
@media screen and (min-width:993px) {
}

/* FLOW */
#flow .numbers1{
    margin-left: 16px;
    /* margin-right: 16px; */
    margin-top: 8px;
}
#flow .numbers1 h2{
    display: inline-block;
    margin-top: 6px;
}
#flow .numbers1 li{
    margin-top: 24px;
}
#flow .numbers1 p{
    line-height: 1.5em;
    font-weight: normal;
    /* padding-left: 16px; */
}
@media screen and (min-width:767px) and ( max-width:992px) {
}
@media screen and (min-width:993px) {
}

/* APPLY */
.form-wrap{
    border:2px solid #C7B299;
    margin-top: 24px;
}
form{
    margin: 2px;
    padding: 16px;
    border: 1px solid #C7B299;
}
form h2{
    margin-bottom: 24px;
    text-align: center;
}
form small.require{
    color:#F15A24;
    padding-left: 0px;
}
form h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}
form small{
    color:#666;
    padding-left: 8px;
}
form input{
    margin: 0;
    padding: 4px 8px;
    border: 0;
    border-bottom: 1px solid #151515;
    margin-bottom: 24px;
    font-size: 16px;
    border-radius: 0;
}
form input[name="age"]{
    width: 3em;
}
form textarea{
    border:1px solid #151515;
    border-radius: 0;
    text-align: left;
    padding: 4px 8px;
    font-size: 16px;
    line-height: 1.5em;
}
form input[name="name"],
form input[name="mail"],
form textarea{
    width:100%;
}
#apply a{
    color: #151515;
}
#apply .another-apply .btn span{
    display: block;
    position: relative;
}
#apply .another-apply .btn span::before{
    content:'';
    background-repeat: no-repeat;
    position: absolute;
    width:32px;
    height: 32px;
    margin-left: -40px;
}
#apply .line::before{
    background-image: url(../res/icon-line.svg);
}
#apply .phone::before{
    background-image: url(../res/icon-phone.svg);
}
#apply .mail::before{
    background-image: url(../res/icon-mail.svg);
}
#apply .errormsg{
    display: none;
    font-size: 11px;
    color: white;
    padding: 8px;
    background-color: #F15A24;
    position: absolute;
    bottom: 8px;
    left: 14px;
    right: 14px;
}
#form-body .row{
    position: relative;
}
@media screen and (min-width:767px){
    .another-apply .btn{
        max-width: 30%;
        margin: 16px 10px;
        margin-top: 32px;
    }
    #apply .another-apply .btn span{
        padding-left: 24px;
    }
    #apply .another-apply .btn span::before{
        margin-left: -32px;
    }
    #apply .mail::before{
        top:4px;
    }
}
@media screen and (min-width:993px) {
}

/* footer */
footer{
    background-color: #151515;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: white;
}
footer .logo{
    font-size: 32px;
    margin: 16px 0;
}
@media screen and (min-width:767px) and ( max-width:992px) {
}
@media screen and (min-width:993px) {
}